body {
  background: #f4f5f6;
  font-family: "Roboto Condensed",sans-serif;
}

header {
  background: red;
  padding: 0.5em 0 0.5em 0;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
}

.margin-remove {
  margin: 0;
}
.padding-remove {
  padding: 0;
}

.b-white {
  background: white;
}

.date-portion p {
  color: white;
  margin:0 0 0 0.5em;
}

.cloud-icon {
  fill:white;
}

.main-logo svg {
  fill: white;
}

.login-btn {
  color: white;
}

.subscribe-btn {
  border-radius: 25px;
}

.subscribe-btn::after {
content: ">";
margin-left: .6em;
}

.nav-link {
  padding: 0;
  text-decoration: none;
  color: black;
}

.feature-stories {
  width: 100%;
}

.img-sizing {
  width: 100%;
  height: 8rem;
}

.sub-tittle {
  width: 100%;
}

.photo-sizing {
  width: 4rem;
  height: 4rem;
}

.dabate-vs-tittle {
  border-bottom: .2rem solid #f92859;
  padding-bottom: .5rem;
}

.dabate-vs {
  margin-top: .5rem;
  padding-top: .5rem;
}

.feature-btn {
  background: #f4f5f6;
}

.article-img {
  margin-top: 1rem;
  width: 16em;
  height: 20rem;
}

.editor-img {
  width: 16rem;
  height: 12rem;
}
