body {
  margin: 0;
  background: #f4f5f6;
}

header {
  background: red;
  padding: 0.5em 0 0.5em 0;
}

p {
  color: white;
  margin:0 0 0 0.5em;
}

.cloud-icon {
  fill:white;
}

.main-logo svg {
  fill: white;
}

.login-btn {
  color: white;
}

.subscribe-btn {
  border-radius: 25px;
}

.subscribe-btn::after {
content: ">";
margin-left: .6em;
}

.nav-link {
  border-right: .1em solid black;
}
